@model DigitalSignageUI.Models.Entity.EditContentTemplateInfo




@if (Model.content_ad_id != 0)
{
    <div class="blockEditModeOver">
        <div class="blockEditModeOverlay">
            <a class="btnTVCAEditOk" href="@Url.Action("EditContentSelector", "Edit", new { contentId = Model.content_ad_id, type = 3, position = Model.position })">
                <span class="icon" data-icon="&#xe1cf;"></span>
            </a>
            <a class="btnTVCAEditCancel" ng-click="deleteContentAds(@Model.content_ad_id,@Model.position)">
                <span class="icon" data-icon="&#xe0da;"></span>
            </a>
        </div>
        <div class="widgetText">
            <div class="marquee up">
                <p ng-repeat="x in sliderTextList" data-id="{{x.id}}" data-interval="{{x.interval}}" data-content_ad_id="{{x.content_ad_id}}" data-ad_title="{{x.title}}">{{x.description}}</p>

            </div>
        </div>

    </div>

}
else
{

    <div class="widgetText">
        <div class="marquee up">
            <p ng-repeat="x in sliderTextList" data-id="{{x.id}}" data-interval="{{x.interval}}" data-content_ad_id="{{x.content_ad_id}}" data-ad_title="{{x.title}}">{{x.description}}</p>

        </div>
    </div>
}