@model DigitalSignageUI.Models.Entity.EditContentTemplateInfo

  @if (Model.content_ad_id != 0)
  {
        <a href="@Url.Action("EditContentSelector", "Edit", new { contentId = Model.content_ad_id, type = 5, position = Model.position })">Edit</a>
    }


<div id="weather" class="widgetWeather">
</div>
