<script src="~/Scripts/FrontEndController/adsListCtrlr.js"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="editPackagePage" ng-controller="adsListCtrlr">
    <div class="editPackageContent">

        <div class="rowSelectHeader">
            <div class="editPackageTitle">
            </div>
            <div class="editPackageSearchPlace">

                <input id="search" class="inputSearch" type="text" placeholder="جستجو نام بسته" ng-keyup="keyUpImageList()" ng-keydown="keyUpImageList()" ng-show="resultAdsList.length">

                <!--                <a class="editPackageBtnSearch"><span class="icon" data-icon="&#xe0b7;"></span></a>-->
            </div>
        </div>
        <div class="rowSelectDefault">
            <div class="packageItem packageItemModel _adsListCls" ng-repeat="x in resultAdsList" data-id="{{x.id}}" data-title="{{x.title}}">
                <div class="packageItemPreview">
                    <img ng-if="x.type == '1'" ng-repeat="detail in x.itemList" src="{{packageImageSource}}{{detail.file_name}}"/>
                    <p ng-if="x.type == '3'" ng-repeat="detail in x.itemList">{{detail.adsItemTitle}}</p>
                    <div style="width:100%;height:100%" ng-if="x.type == '2'" class="flowplayerVideo widgetVideo" id="player"></div>
                </div>
                <div class="packageItemDivider">

                    <div class="row">
                        <a class="packageItemBtnSetting" ng-click="editAdsWithAdsItem(x.id)"><span class="icon" data-icon="&#xe1cf;"></span></a>
                        <a class="packageItemBtnDelete" ng-click="deleteAdsWithAdsItem(x.id)"><span class="icon" data-icon="&#xe0da;"></span></a>
                    </div>

                    <div class="row">
                        <div class="packageItemTitle">
                            <span class="icon" data-icon="&#xe256;"></span>&nbsp;
                            {{x.title}}
                        </div>
                        <div class="packageItemTime">
                            <span class="icon" data-icon="&#xe019;"></span>&nbsp;
                            0 دقیقه از {{x.max_minutes}}
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>
</div>
<script>

    $("._menueBtn").click(function () {

        $("._menueBtn").each(function () {
            $(this).removeClass("select");
        })
        $("a[data-type='adsList']").addClass("select");

    });

</script>

