
<script src="~/Scripts/FrontEndController/adsCtrlr.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="editPackagePage" ng-controller="adsCtrlr">
    <div class="editPackageContent">

        <div class="rowContentForm">
            <div class="row rowSelectHeader">
                <div class="editPackageTitle">
                    1.
                    اطلاعات بسته جدید
                </div>
            </div>

            <div class="row itemSpace">
                <div class="col4">
                    <input class="formInputDefault" type="text" placeholder="نام بسته" ng-model="adsInfo.title">
                </div>
            </div>
            <div class="row itemSpace">
                <input class="formInputDefault" type="text" placeholder="توضیحات" ng-model="adsInfo.description">
            </div>

            <div class="row rowSelectHeader">
                <div class="editPackageTitle">
                    2.
                    انتخاب نوع بسته
                </div>
            </div>

            <div class="row itemSpace">
                <div class="col3"></div>
                <div class="col2">
                    <img src="~/Skins/CSS_tvShow/images/packageModel01.png" />
                </div>
                <div class="col2">
                    <img src="~/Skins/CSS_tvShow/images/packageModel02.png" />
                </div>
                <div class="col2">
                    <img src="~/Skins/CSS_tvShow/images/packageModel03.png" />
                </div>
            </div>
            <div class="row itemSpace">
                <div class="col3"></div>
                <div class="col2">
                    <input id="Radio1" name="switch-x" ng-model="showImage" ng-click="selectItem(showImage);" type="radio" ng-value="1" checked="checked">
                    <label for="Radio1" onclick="">عکس</label>
                </div>
                <div class="col2">
                    <input id="Radio2" name="switch-x" ng-model="showImage" ng-click="selectItem(showImage);" type="radio" ng-value="2">
                    <label for="Radio2" onclick="">فیلم</label>
                </div>
                <div class="col2">
                    <input id="Radio3" name="switch-x" ng-model="showImage" ng-click="selectItem(showImage);" type="radio" ng-value="3">
                    <label for="Radio3" onclick="">متن</label>
                </div>
            </div>

            <div class="row rowSelectHeader" ng-show="showImage == '1'">
                <div class="editPackageTitle">
                    3.
                    انتخاب و آپلود تصاویر
                </div>
            </div>
            <div class="row itemSpace" ng-show="showImage == '1'">
                <div class="col4">
                    <div class="fileUpload" style="width: 100%;">
                        <div class="fileUpload btnDefaultFile btnFormUp" style="width: 100%;">
                            <span>انتخاب فایل های تصویری</span>
                            <input id="myFile" type="file" class="upload" accept="image/*"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row rowContentDefault" id="fileContainet" ng-show="showImage == '1'"></div>

            <div class="row rowSelectHeader" ng-show="showImage == '2'">
                <div class="editPackageTitle">
                    3.
                    انتخاب و آپلود ویدیو
                </div>
            </div>
            <div class="row itemSpace" ng-show="showImage == '2'">
                <div class="col4">
                    <div class="fileUpload" style="width: 100%;">
                        <div class="fileUpload btnDefaultFile btnFormUp" style="width: 100%;">
                            <span>انتخاب فایل های ویدیو</span>
                            <input id="myVideo" type="file" class="upload" accept="video/*"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row rowContentDefault" id="fileVideoContainet" ng-show="showImage == '2'"></div>


            <div class="row rowSelectHeader" ng-show="showImage == '3'">
                <div class="editPackageTitle">
                    3.
                    ورود اطلاعات متنی
                </div>
            </div>
            <div class="row itemSpace" ng-show="showImage == '3'" id="_showText">
                <div class="col11">
                    <input class="formInputDefault" type="text" placeholder="توضیحات" ng-model="adsInfo.adItemTitle">
                </div>
                <div ></div>
                <div class="col1 itemSpace">
                    <a class="btnSmallOk" ng-click="addText(adsInfo.adItemTitle)"><span class="icon" data-icon="&#xe05b;"></span></a>
                </div>
            </div>

            <div class="row rowSelectHeader">
                <div class="col4">
                </div>
                <div class="col4">
                    <div class="col6">
                        <a class="btnPageOk" ng-click="saveAds();">
                            <span class="icon" data-icon="&#xe042;"></span>
                            <span class="txt">تایید و ذخیره</span>
                        </a>
                    </div>
                    <div class="col6">
                        <a class="btnPageNOk">
                            <span class="icon" data-icon="&#xe036;"></span>
                            <span class="txt">انصراف</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="rowContentForm">

        </div>
    </div>
</div>






