<!DOCTYPE html>
<html ng-app="application" ng-controller="mainCtrlr">
<head>


    <!-- tvShow styles-->
    <link href="~/Skins/CSS_tvShow/css/uicon.css" rel="stylesheet" />
    <link href="~/Skins/CSS_tvShow/css/screen.css" rel="stylesheet" />
    <link href="~/Skins/CSS_tvShow/css/print.css" rel="stylesheet" />
    <link href="~/Skins/CSS_tvShow/css/ie.css" rel="stylesheet" />
    <link href="~/Skins/CSS_tvShow/css/wi.css" rel="stylesheet" />

    <script src="~/Skins/CSS_tvShow/js/jquery.js"></script>
    <script src="~/Skins/CSS_tvShow/js/jquery.catslider.js"></script>
    <script src="~/Skins/CSS_tvShow/js/jquery.countdown.js"></script>
    <script src="~/Skins/CSS_tvShow/js/jquery.keynavigator.js"></script>
    <script src="~/Skins/CSS_tvShow/js/jquery.maskedinput.js"></script>
    <script src="~/Skins/CSS_tvShow/js/jquery.nanoscroller.js"></script>
    <script src="~/Skins/CSS_tvShow/js/jquery.remodal.js"></script>
    <script src="~/Skins/CSS_tvShow/js/jquery.scrollbox.js"></script>
    <script src="~/Skins/CSS_tvShow/js/jquery.tinycarousel.js"></script>
    <script src="~/Skins/CSS_tvShow/js/Modernizr.js"></script>
    <script src="~/Skins/CSS_tvShow/js/modernizr.custom.63321.js"></script>
    <script src="~/Skins/CSS_tvShow/script/jquery.simpleWeather.js"></script>

    <script src="~/Skins/CSS_tvShow/js/angular.min.js"></script>
    <script src="~/Skins/CSS_tvShow/js/angular-route.js"></script>

    <link href="~/Skins/CSS_tvShow/css/coin-slider-styles.css" rel="stylesheet" type="text/css">
    <script src="~/Skins/CSS_tvShow/script/coin-slider.js"></script>
    <script src="~/Skins/CSS_tvShow/slide/flux.min.js"></script>
    <script src="~/Skins/CSS_tvShow/script/datePersian.js"></script>
    <script src="~/Skins/CSS_tvShow/script/pdate.min.js"></script>

    <!-- tvShow styles-->
    <!--flowPlayer-->
    <script src="~/Skins/CSS_tvShow/flowPlayer/flowplayer-3.2.13.min.js"></script>
    <script src="~/Skins/CSS_tvShow/flowPlayer/flowplayer.ipad-3.2.12.min.js"></script>
    <script src="~/Skins/CSS_tvShow/flowPlayer/flowplayer.controls-3.2.11.min.js"></script>

    <!--flowPlayer-->
    <!-- Front-End-->
    <script src="~/Scripts/util/toolTipAction.js"></script>
    <script src="~/Scripts/util/sourceNames.js"></script>
    <script src="~/Scripts/util/forms.js"></script>
    <script src="~/Scripts/util/sliderPlayer.js"></script>
    <script src="~/Scripts/util/utils.js"></script>
    <script src="~/Scripts/util/sourceFactories.js"></script>
    <script src="~/Scripts/util/factories.js"></script>
    <script src="~/Scripts/FrontEndController/mainCtrlr.js"></script>



    <!-- Front-End-->
</head>
<body>
    <div class="container body-content grid-frame vertical">
        @RenderBody()


    </div>


</body>

</html>




