<script src="~/Scripts/FrontEndController/editContentSelectorCtrlr.js"></script>
@{
    Layout = "~/Views/Shared/_Layout_tvShow.cshtml";
}

<div ng-controller="editContentSelectorCtrlr">
    <input class="typeInp" type="hidden" value="@ViewBag.type" />
    <input class="contentIdInp" type="hidden" value="@ViewBag.contentId" />
    <input class="positionInp" type="hidden" value="@ViewBag.position" />


    @if ((string)ViewBag.type == "1" || (string)ViewBag.type == "2" || (string)ViewBag.type == "3")
    {
        Html.RenderPartial("~/Views/Edit/SliderSelectorEdit.cshtml");
    }
    @if ((string)ViewBag.type == "4")
    {
        Html.RenderPartial("~/Views/Edit/WidgetSelectorEdit.cshtml");
    }
    @if ((string)ViewBag.type == "6")
    {
        Html.RenderPartial("~/Views/Edit/TVSelectorEdit.cshtml");
    }
</div>