
@model DigitalSignageUI.Models.Entity.ContentInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/FrontEndController/editContentCtrlr.js"></script>
<script src="~/Scripts/FrontEndController/editContentTempCtrlr_1.js"></script>

<div ng-controller="editContentCtrlr">
    <div class="fullHDeditMode" id="EditContent" ng-controller="editContentTempCtrlr_1">

        <input class="contentIdInp" type="hidden" value="@Model.content_id" />
        @Html.Partial("~/Views/Edit/EditContent_Type1.cshtml")

       
    </div>

    <br><br> 
    <div class="row rowSelectHeader">
        <div class="col4">
        </div>
        <div class="col4">
            <div class="col12">
                <a href="@Url.Action("ShowContent", "Show", new {Id= Model.content_id,type='c' })" target="_blank" class="btnPagePre">
                    <span class="icon" data-icon="&#xe0a6;"></span>
                    <span class="txt">پیش نمایش</span>
                </a>
            </div>

        </div>
    </div>
</div>
