

<div class="editPackagePage">
    <div class="editPackageContent">

        <div class="rowSelectHeader">
            <div class="editPackageTitle">
                1.
                لیست تمامی پکیج های ساخته شده جهت انتخاب
            </div>
            <div class="editPackageSearchPlace">
                <input class="inputSearch" type="text" id="search" placeholder="جستجوی نام پکیج" ng-keyup="keyUpImageList()">
            </div>
        </div>

        <div class="rowSelectA">


            <div class="packageItem packageItemModel serach-result" ng-repeat="x in resultList" data-id="{{x.id}}" data-title="{{x.title}}" ng-click="clearSelectPackageInf()">
                <div class="packageItemPreview">
                    <img ng-if="x.type == '1'" ng-repeat="detail in x.itemList" src="{{packageImageSource}}{{detail.file_name}}">
                    <p ng-if="x.type == '3'" ng-repeat="detail in x.itemList">{{detail.adsItemTitle}}</p>
                    @*<video style="width:100%;height:100%" ng-if="x.type == '2'"><source src="{{videoSource}}{{detail.file_name}}"></video>*@
                    @*<div style="width:100%;height:100%" ng-if="x.type == '2'" class="flowplayerVideo widgetVideo" id="player"></div>*@
                    <img src="{{defaultVideoSource}}" ng-if="x.type == '2'" />
                </div>
                <div class="packageItemDivider">

                    <div class="row">
                        <a class="packageItemBtnAdd" ng-click="addOrRemAdsInList(x , 'add')"><span class="icon" data-icon="&#xe05b;"></span></a>
                    </div>

                    <div class="row">
                        <div class="packageItemTitle">
                            <span class="icon" data-icon="&#xe256;"></span>&nbsp;
                            {{x.title}}
                        </div>
                        <div class="packageItemTime">
                            <span class="icon" data-icon="&#xe019;"></span>&nbsp;
                            0 دقیقه از {{x.max_minutes}}
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="rowSelectHeader">
            <div class="editPackageTitle">
                2.
                پکیج های انتخاب شده جهت پخش
            </div>
        </div>
        <div class="rowSelectB">


            <div id="itemSelect" class="rowSelectContent">
                <div class="packageItem packageItemModel serach-result" ng-repeat="x in resultAdsContentList" data-id="{{x.id}}" data-title="{{x.title}}" ng-click="selectPackageInf(x)">
                    <div class="packageItemPreview">
                        <img ng-if="x.type == '1'" ng-repeat="detail in x.itemList" src="{{packageImageSource}}{{detail.file_name}}">
                        <p ng-if="x.type == '3'" ng-repeat="detail in x.itemList">{{detail.adsItemTitle}}</p>
                        @*<video style="width:100%;height:100%" ng-if="x.type == '2'"><source src="{{videoSource}}{{detail.file_name}}"></video>*@
                        <img src="{{defaultVideoSource}}" ng-if="x.type == '2'" />
                    </div>
                    <div class="packageItemDivider">

                        <div class="row">
                            @*<a class="btnToggleTime packageItemBtnSetting"  ><span class="icon" data-icon="&#xe019;"></span></a>*@
                            <a class="packageItemBtnDelete" ng-click="addOrRemAdsInList(x , 'remove')"><span class="icon" data-icon="&#xe0da;"></span></a>
                        </div>

                        <div class="row">
                            <div class="packageItemTitle">
                                <span class="icon" data-icon="&#xe256;"></span>&nbsp;
                                {{x.title}}
                            </div>
                            <div class="packageItemTime">
                                <span class="icon" data-icon="&#xe019;"></span>&nbsp;
                                0 دقیقه از {{x.max_minutes}}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            
        </div>
        <div class="panelToggle rowSelectHeader" ng-show="showIntervalFlag">
            <div class="editPackageTitle">
                3.
                تنظیم مدت زمان نمایش
            </div>
            <div class="editPackageName">
               
            </div>
            <div class="editPackageDesc">
                <input class="inputTxt" type="number" placeholder="زمان بر حسب ثانیه" ng-model="selectedPackage.interval">
            </div>
            <div class="editPackageBtnPlaceSmall">

                @*<a class="btnSmallOk"><span class="icon" data-icon="&#xe042;"></span></a>*@


            </div>
        </div>
        

        <div class="row rowSelectHeader">
            <div class="col4">
            </div>
            <div class="col4">
                <div class="col6">
                    <a class="btnPageOk" ng-click="saveAdsItemPackage('ads')">
                        <span class="icon" data-icon="&#xe042;"></span>
                        <span class="txt">تایید و ذخیره</span>
                    </a>
                </div>
                <div class="col6">
                    <a class="btnPageNOk" ng-click="cancelSaveAds()">

                        <span class="icon" data-icon="&#xe036;"></span>
                        <span class="txt">انصراف</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

