<style>
    .picSelector {
        min-height: 200px;
    }

        .picSelector > div {
            float: right;
            background-color: #efefef;
            border: 1px solid #aaa;
            padding: 1px;
            margin: 12px;
            width: 200px;
        }

        .picSelector div.active {
            border: 5px outset #00FF00;
            margin: 8px !important;
        }

    .header-title {
        background: #aaa;
        padding: 5px;
        text-align: right;
        font-family: tahoma;
        font-size: 11px;
        font-weight: bold;
        border-radius: 4px;
    }

    .hidden {
        display: none;
    }

    div, p, span, td, body, a, label, input, select {
        font-size: 11px;
        font-family: Tahoma;
    }

    .remove-package, .add-package {
        position: absolute;
        margin-left: -60px;
    }

    .package-block {
        overflow: hidden;
        width: 195px !important;
    }

    .picSelector .ad-title {
        width: 190px;
        background-color: #ddd;
        padding: 3px;
        text-align: center;
        border-bottom: 1px solid #aaa;
    }

    .picSelector .ad-timing {
        width: 190px;
        margin-top: 138px;
        direction: rtl;
        position: absolute;
        background-color: #ddd;
        padding: 3px;
        text-align: center;
        border-bottom: 1px solid #aaa;
    }

    .picSelector .ad-option {
        width: 190px;
        margin-top: 109px;
        direction: rtl;
        position: absolute;
        background-color: #ddd;
        padding: 3px;
        text-align: right;
        border-bottom: 1px solid #aaa;
    }

    .large-4 {
        float: right;
        width: 33%;
    }

    .ddl {
        width: 90%;
        padding: 6px;
        direction: rtl;
        margin: 4px;
        font-size: 13px;
        font-weight: bold;
        text-align: right;
    }

    input[type='button'] {
        width: 100px;
        height: 40px;
    }

    .active-live {
        background-color: #666 !important;
        color: #eee;
    }
</style>

<div style="min-width:1000px;min-height:500px;text-align:right">


    <div class="row dead-videos">
        <div class="large-12 column radius header-title">جستجوی پکیج جدید</div>

        <div class="large-12 column radius" style="direction:rtl">
            <fieldset>
                <label>نام پکیج مورد نظر خود را وارد نمایید : </label>
                <input type="text" id="search" placeholder="جستجوی نام پکیج" ng-keyup="keyUpImageList()"/>
            </fieldset>
        </div>

        <div class="picSelector level1">

            <div ng-repeat="x in resultList" data-id="{{x.id}}" data-title="{{x.title}}" class="package-block serach-result" ng-click="clearSelectPackageInf()">
                <div class="ad-title"><img src="/data/images/addnew.png" class="add-package" /><strong>{{x.title}}</strong></div>
                <div class="ad-timing"><strong>0 دقیقه از {{x.max_minutes}}</strong></div>
                <div ng-repeat="detail in x.itemList">
                    <img ng-if="x.type == '1'" src="{{packageImageSource}}{{detail.file_name}}" alt="" >

                    <div ng-if="x.type == '2'" width="100%" height="100%" class="" >
                        {{videoSource}}{{detail.file_name}}
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="large-12 column radius header-title">پکیج های انتخاب شده</div>
    <div class="picSelector level2">
       
        <div ng-repeat="x in resultAdsContentList" data-id="{{x.id}}" data-title="{{x.title}}" class="package-block selected-package" ng-click="selectPackageInf(x)">
            <div class="ad-title"><img src="/data/images/delete_small.png" class="remove-package" /> <strong>{{x.title}}</strong></div>
            <div class="ad-timing"><strong>0 دقیقه از {{x.max_minutes}}</strong></div>
            <div ng-repeat="detail in x.itemList">
                
                <div ng-if="detail.file_name==''" style="width:180px;margin:2px;padding:5px;background-color:#999;text-align:center;">{{detail.adsItemTitle}}</div>
               
                <img ng-if="detail.file_name!=''"  src="{{packageImageSource}}{{detail.file_name}}" alt="">
                
        </div>
            </div>
       
    </div>



    <div class="large-12 column radius header-title">مشخصات پکیج</div>
    <div class="large-12 column radius" style="direction:rtl">
        <fieldset>
            <div class="large-4 column">
                زمان نمایش :
                <input type="text" class="second" size="3" style="width:150px;border:1px solid #aaa;display:inline" id="data-second" value="" ng-model="selectedPackage.interval"/> ثانیه
            </div>
            <div class="large-4 column">
                نمایش بصورت درهم :
                <select id="data-shuffle" style="width:150px;border:1px solid #aaa;display:inline" ng-change="selectShuffle()" ng-model="selectedPackage.shuffle">
                    <option value="0">خیر</option>
                    <option value="1">بله</option>
                </select>
            </div>
            <div class="large-4 column" style="text-align:left;">
                <input type="button" id="saveOptions" class="button medium radiuse" value="دخیره" />
            </div>
        </fieldset>
    </div>
</div>

