
<div class="editPackagePage">
    <div class="editPackageContent">

        <div class="rowSelectHeader">
            <div class="editPackageTitle">
                1.
                لیست تمامی پکیج های ساخته شده جهت انتخاب
            </div>
            <div class="editPackageSearchPlace">
                <input class="editPackageInputSearch" style="width:250px" type="text" id="search" placeholder="جستجوی نام پکیج" ng-keyup="keyUpImageList()" />
                @*<a class="editPackageBtnSearch" ng-click="keyUpImageList()"><span class="icon" data-icon="&#xe0b7;"></span></a>*@
            </div>
        </div>

        <div class="rowSelectA">
            <div id="itemList" class="rowSelectContent">
                <div ng-repeat="x in resultList" data-id="{{x.id}}" data-title="{{x.title}}" ng-click="clearSelectPackageInf()" class="packageItem serach-result">
                    <div class="packageItemPreview">
                            <img ng-if="x.type == '1'" ng-repeat="detail in x.itemList" src="{{packageImageSource}}{{detail.file_name}}">
                            <div style="width:100%;height:100%" ng-if="x.type == '2'" class="flowplayerVideo widgetVideo" id="player"></div> 
                    </div>
                    <div class="packageItemDivider">
                        <a class="packageItemBtnAdd" ng-click="addOrRemAdsInList(x , 'add')"><span class="icon" data-icon="&#xe05b;"></span></a>
                        <div class="packageItemTitle">
                            {{x.title}} - 0 دقیقه از {{x.max_minutes}}
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
       
        
         <div class="rowSelectHeader">
            <div class="editPackageTitle">
                2.
                پکیج های انتخاب شده جهت پخش
            </div>
        </div>
        <div class="rowSelectB">
            <div id="itemSelect" class="rowSelectContent">
                <div ng-repeat="x in resultAdsContentList" data-id="{{x.id}}" data-title="{{x.title}}" class="packageItem" ng-click="selectPackageInf(x)">
                    <div class="packageItemPreview">
                        <img  ng-repeat="detail in x.itemList" ng-if="detail.file_name!=''" src="{{packageImageSource}}{{detail.file_name}}" alt="">
                    </div>
                    <div class="packageItemDivider">
                        <a class="btnToggleTime packageItemBtnSetting"  ng-click="showAdsInf()"><span class="icon" data-icon="&#xe019;"></span></a>
                        <a class="packageItemBtnDelete" ng-click="addOrRemAdsInList(x , 'remove')"><span class="icon" data-icon="&#xe0da;"></span></a>
                        <div class="packageItemTitle">
                            <span class="icon" data-icon="&#xe256;"></span>&nbsp;
                          {{x.title}} - 0 دقیقه از {{x.max_minutes}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panelToggle rowSelectHeader" style="display: none;">
            <div class="editPackageTitle">
                3.
                تنظیم مدت زمان نمایش
            </div>
            <div class="editPackageName">
                نام پکیج
            </div>
            <div class="editPackageDesc">
                <input class="inputTxt" type="number" placeholder="زمان بر حسب دقیقه" ng-model="selectedPackage.interval">
            </div>
            <div class="editPackageBtnPlaceSmall">
                <a class="editPackageBtnSmall" ng-click="editPackageTime()"><span class="icon" data-icon="&#xe042;"></span></a>
            </div>
        </div>


    </div>
    <div class="editPackageContent">
        <div class="modalBtnPlace">
            <a class="btnTVCAEditOk"><span class="icon" data-icon="&#xe042;"></span></a>
            <a class="btnTVCAEditCancel" ui-sref="tvcaEdit"><span class="icon" data-icon="&#xe036;"></span></a>
        </div>

    </div>
</div>



@*<div style="min-width:1000px;min-height:500px;text-align:right">


        <div class="row dead-videos">
            <div class="large-12 column radius header-title">جستجوی پکیج جدید</div>

            <div class="large-12 column radius" style="direction:rtl">
                <fieldset>
                    <label>نام پکیج مورد نظر خود را وارد نمایید : </label>
                    <input type="text" id="search" placeholder="جستجوی نام پکیج" ng-keyup="keyUpImageList()" />
                </fieldset>
            </div>

            <div class="picSelector level1">

                <div ng-repeat="x in resultList" data-id="{{x.id}}" data-title="{{x.title}}" class="package-block serach-result" ng-click="clearSelectPackageInf()">
                    <div class="ad-title"><img src="/data/images/addnew.png" class="add-package" /><strong>{{x.title}}</strong></div>
                    <div class="ad-timing"><strong>0 دقیقه از {{x.max_minutes}}</strong></div>
                    <div ng-repeat="detail in x.itemList">
                        <img ng-if="x.type == '1'" src="{{packageImageSource}}{{detail.file_name}}" alt="">

                        <div ng-if="x.type == '2'" width="100%" height="100%" class="">
                            {{videoSource}}{{detail.file_name}}
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="large-12 column radius header-title">پکیج های انتخاب شده</div>
        <div class="picSelector level2">

            <div ng-repeat="x in resultAdsContentList" data-id="{{x.id}}" data-title="{{x.title}}" class="package-block selected-package" ng-click="selectPackageInf(x)">
                <div class="ad-title"><img src="/data/images/delete_small.png" class="remove-package" /> <strong>{{x.title}}</strong></div>
                <div class="ad-timing"><strong>0 دقیقه از {{x.max_minutes}}</strong></div>
                <div ng-repeat="detail in x.itemList">

                    <div ng-if="detail.file_name==''" style="width:180px;margin:2px;padding:5px;background-color:#999;text-align:center;">{{detail.adsItemTitle}}</div>

                    <img ng-if="detail.file_name!=''" src="{{packageImageSource}}{{detail.file_name}}" alt="">

                </div>
            </div>

        </div>



        <div class="large-12 column radius header-title">مشخصات پکیج</div>
        <div class="large-12 column radius" style="direction:rtl">
            <fieldset>
                <div class="large-4 column">
                    زمان نمایش :
                    <input type="text" class="second" size="3" style="width:150px;border:1px solid #aaa;display:inline" id="data-second" value="" ng-model="selectedPackage.interval" /> ثانیه
                </div>
                <div class="large-4 column">
                    نمایش بصورت درهم :
                    <select id="data-shuffle" style="width:150px;border:1px solid #aaa;display:inline" ng-change="selectShuffle()" ng-model="selectedPackage.shuffle">
                        <option value="0">خیر</option>
                        <option value="1">بله</option>
                    </select>
                </div>
                <div class="large-4 column" style="text-align:left;">
                    <input type="button" id="saveOptions" class="button medium radiuse" value="دخیره" />
                </div>
            </fieldset>
        </div>
    </div>*@

